.navbar-brand
{
    color: white  !important;
}

.navbar-nav > li > a
{
    color: white  !important;
}

.navbar-default
{
    color: white  !important;
    background: #006FBB !important;
    border-color: #005188 !important;
}

.navbar
{
    border-radius: 0px !important;
}

th
{
    text-align: center !important;
}